<template>
  <div class="addToDo">
    <v-toolbar color="primary">Add New Todo</v-toolbar>
    All To Do list {{allTodos.length}}
    <v-card class="mx-auto" max-width="300" tile>
      <v-list dense>
        <v-list-item-group color="primary">
          <v-list-item v-for="(item, i) in allTodos" :key="i">
            <v-list-item-title v-text="item.name"></v-list-item-title>
            <v-icon @click="editTodo(item.id)">mdi-pencil</v-icon>
            <v-icon @click="deleteTodo(item.id)">mdi-delete</v-icon>
            <!-- v-list-item-icon>
              <v-icon>mdi-check</v-icon>
            </v-list-item-icon-->
            <!--v-list-item-content>
              <v-list-item-title v-text="item.name"></v-list-item-title>
              <v-icon @click="deleteTodo(item.id)">mdi-close</v-icon>
              <v-icon @click="editTodo(item.id)">mdi-pencil</v-icon>
            </v-list-item-content-->
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
    <v-form>
      <v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" md="4">
                <v-text-field label="Add Todo Task" v-model="newTodo.title"></v-text-field>
              </v-col>
              <v-card-actions>
                <v-btn color="success" @click="addToDo">
                  <v-icon>mdi-plus</v-icon>Add
                </v-btn>
              </v-card-actions>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
      <v-card v-if="editTodoItem.id && editTodoItem.title">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" md="4">
                <v-text-field label="Update Todo Task" v-model="editTodoItem.title"></v-text-field>
              </v-col>
              <v-card-actions>
                <v-btn color="success" @click="editToDo">
                  <v-icon>mdi-plus</v-icon>Save
                </v-btn>
              </v-card-actions>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
      <!-- v-card v-if="editTodoItem.id && editTodoItem.title">
        <v-card-text>
          <v-text-field label="Update Todo Task" v-model="editTodoItem.title"></v-text-field>
        </v-card-text>
        <v-card-actions>
          <v-btn color="success">Update</v-btn>
        </v-card-actions>
      </v-card-->
    </v-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    allTodos: [],
    newTodo: {
      title: ""
    },
    editTodoItem: {
      id: "",
      title: ""
    }
  }),
  mounted() {
    this.getAllTodos();
  },
  methods: {
    /**
     * Getting All Todo
     * @param newTodo
     */
    getAllTodos() {
      try {
        let _this = this;
        // alert(this.newTodo.title)
        axios
          .get("/api/todo/all")
          .then(function(response) {
            console.log(response.data);
            _this.allTodos = response.data;
          })
          .catch(function(error) {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    },
    /**
     * Adding New Todo
     * @param newTodo
     */
    addToDo() {
      try {
        let _this = this;
        // alert(this.newTodo.title)
        axios
          .post("/api/todo/add", {
            newTodo: this.newTodo
          })
          .then(function(response) {
            console.log(response.data);
            _this.allTodos.push(response.data);
          })
          .catch(function(error) {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    },
    /**
     * Deleting Todo
     * @param id
     */
    deleteTodo(id) {
      try {
        //alert(id);
        // sending a HTTP request
        let _this = this;
        // alert(this.newTodo.title)
        axios
          .post("/api/todo/delete", {
            id: id
          })
          .then(function(response) {
            console.log(response.data);
            // removing from todo list
            const index = _this.allTodos.map(t => t.id).indexOf(id);
            if (index > -1) _this.allTodos.splice(index, 1);
          })
          .catch(function(error) {
            console.log(error);
          });
      } catch (error) {
        console.log(error);
      }
    },
    /**
     * Editing Todo
     * @param id
     */
    editTodo(id) {
      try {
        //alert(id);
        let _this = this;
        alert(this.editTodoItem.title);
        const index = this.allTodos.map(todo => todo.id).indexOf(id);
        if (index > -1) {
          this.editTodoItem.id = this.allTodos[index].id;
          this.editTodoItem.title = this.allTodos[index].name;
          //alert(this.editTodoItem.title);
          axios
            .post("/api/todo/edit", {
              id: id
            })
            .then(function(response) {
              console.log(response.data);
              // updating from todo list
              if (index > -1) _this.allTodos.editTodo(idex, 1);
            })
            .catch(function(error) {
              console.log(error);
            });
        }
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>

<style>
</style>
